/* styles.css */
/*C3AF71*/
/* Considering adding some additional colors. Dark green 556B2F Dark blue 003366 Cream FDF5E6 or Pink DDB6C6 */

/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
main {
    min-height:100vh;
    background:linear-gradient(to right top,#E5D5A5,#F5E2AA);
    display:flex;
    align-items:center;
    justify-content: center;
    color:#000000
}

body {
    font-family: Tahoma, sans-serif;
    line-height: 1.5;
}

header, header a, header a:visited {
    background-color: #D2BC79;
    color: #fff;
    padding: 40px;
}

span.smallText {
    font-size: 12px; 
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.glass {
    background:white;
    min-height:80vh;
    width:80%;
    background:linear-gradient(to right bottom, rgba(255,255,255,0.7),rgba(255,255,255,0.3));
    border-radius:20px;
    padding:40px;
    margin-top: 40px;
    margin-bottom: 40px; 
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
}

section {
    padding: 50px;
}

div ul.contactsList {
    list-style: none;
    padding: 0;
    margin: 0;
}

div ul.contactsList li {
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
}

div ul.contactsList li a {
    display: block; 
    text-decoration: none; 
    color: #303030; 
}

div {
    padding-top: 50px;
    padding-bottom:50px;

}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

h2 {
    font-size: 18px;
    margin-top:20px;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    margin-bottom: 20px;
}

footer, footer a, footer a:visited {
    background-color: #D2BC79;
    color: #E9E4D4;
    padding: 40px;
    text-align: center;
}
#personalPhotos {
    display: flex;
    justify-content: center; 
    flex-wrap: wrap; 
    padding: 5px;
}

.figure {
    flex: 0 0 30%; 
    max-width: 30%; 
    text-align: center; 
    margin: 5px; 
    box-sizing: border-box; 
}

.personalPhoto {
    width: 100%;
    height: auto;
    border-radius: 2rem;
}

figure a {
    text-decoration: none;
}

main a, main a:visited {
    color:#000000
}

a:hover {
    color: #CDA012; 
}

a:active {
    color: #E4B215;
}

.indent {
    text-indent: 4rem;
}

ul.desc {
    list-style-type: square; /* Standard options include disc, circle, square, none */
}

